    body {
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    }

    /** HEADER **/

    #header-nav {
    background-color: #858585;
    border-radius: 0;
    border: 0;
    }


    .navbar-brand h1 { /* Restaurant name */
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    }
    .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
    }
    .navbar-brand p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
    }
    .navbar-brand p span { /* Star-K */
    vertical-align: middle;
    }

    #nav-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    }
    #nav-list a {
    color: #000000;
    text-align: center;
    }
    #nav-list a:hover {
    background: #E7E7E7;
    }
    #nav-list a span {
    font-size: 1.8em;
    }

    .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
    }
    .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
    }

    h1{
        text-align: center;
    }

    h2{
        padding-top: 15px;
        margin: 10px;
    }

    .navbutton > a{
        border: 3px solid #000000;
        background-color: #ffffff;
    }

    #sushi{
        border-bottom: 3px solid #000000;
    }

    .cardtitle{
        text-align: center;
    }

    .card{
        background-color: #858585;
        padding-bottom: 25px;
    }

    p{
        margin: 10px;
    }

    .row{
        padding: 25px;
        margin: 25px;
    }

    .navbar-brand {
    padding-top: 10px;
    height: 80px;
    }
    .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
    }

    #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    }
  /* END HEADER */
  
  /********** Large devices only **********/
  @media (min-width: 1200px) {

  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
  }
  